@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

/* Base */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(#DDFFDD, white);
  background-repeat: no-repeat;
  font-family: 'Poppins';
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color:#665366;
}

.header-container {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px;
}
.header-container h1 {
  font-family: 'Dancing Script';
  font-size: 3rem;
  margin: 0;
}
.header-container a {
  color: #FFE4E1;
  text-decoration: none;
}
.header-container ul {
  display: flex;
  position: relative;
}
.header-container ul a {
  font-size: 1rem;
  padding: 10px;
}
.header-container ul a:hover {
  border-bottom: 1px solid white;
}

.navigation-menu {
  display: none;
}

.badge {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  padding: 0px 10px;
  top: -15px;
  right: -2px;
  position: absolute;
}

/* Mobile Menu */

.hamburger-menu-icon:hover {
  cursor: pointer;
}

.bar {
  background-color: white;
  display: block;
  margin-bottom: 5px;
  width: 30px;
  height: 4px;
}

.mobile-menu {
  background-color: #524252;
  color: white;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}
.mobile-menu li {
  margin: 40px 0;
}
.mobile-menu a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.mobile-menu a:hover {
  color: #FFE4E1;
}

.mobile-menu-close {
  font-size: 24px;
  margin-left: 50px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.mobile-menu-close:hover {
  color: #FFE4E1;
  cursor: pointer;
}

/* Product List */

.products__container {
  margin: 0 auto;
  max-width: 1300px;
}

.products__intro {
  font-size: 1.5rem;
  margin-left: 20px;
  text-align: left;
}

.products__sort {
  margin-left: 20px;
  text-align: left;
}

.products__sort button {
  background-color: #228B22;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin-right: 5px;
  padding: 10px;
}
.products__sort button:hover {
  background-color: #4EA24E;
  cursor: pointer;
}

.products__gallery {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.product-card {
  padding: 20px;
}
.product-card h3 {
  margin: 0;
}
.product-card a {
  color: black;
  text-decoration: none;
}
.product-card p {
  margin: 0;
}

.product-card__image {
  width: 100%;
}

/* Single Product */

.product-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 70vh;
  padding: 40px 20px;
}

.product__image {
  width: 100%;
}

.product__images-container {
  width: 90%;
}

.product__description-container {
  background-color: white;
  padding: 20px;
  text-align: left;
  width: 90%;
}
.product__description-container h2 {
  font-size: 2rem;
  margin: 0 0 20px 0;
}
.product__description-container p {
  font-size: 1rem;
  margin: 0 0 20px 0;
}
.product__description-container span {
  display: block;
  font-size: 1rem;
}

.product__decrement {
  background-color: #228B22;
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
  padding: 5px 10px;
}
.product__decrement:hover {
  background-color: #4EA24E;
  cursor: pointer;
}

.product__quantity {
  font-size: 1.2rem;
  height: 28px;
  padding-left: 5px;
  width: 60px;
}

.product__increment {
  background-color: #228B22;
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;
  padding: 5px 10px;
}
.product__increment:hover {
  background-color: #4EA24E;
  cursor: pointer;
}

.product__add {
  background-color: #228B22;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 1.5rem;
  margin: 40px 0;
  padding: 20px;
}
.product__add:hover {
  background-color: #4EA24E;
  cursor: pointer;
}

/* About */

.about__container {
  font-family: 'Dancing Script';
  font-size: 1rem;
  margin: 20px auto;
  max-width: 1300px;
  position: relative;
  width: 90%;
}
.about__container h2 {
  font-size: 1.2em;
  position: absolute;
  left: 20px;
  top: -10px;
}
.about__container p {
  color: white;
  font-size: 0.5em;
  left: 20px;
  position: absolute;
  top: 30px;
}

.about__heading--fragment-one {
  color: #D0F0C0;
}

.about__heading--fragment-two {
  color: #FFFFE0;
}

.about__heading--fragment-three {
  color: #ADD8E6;
}

.about__image {
  width: 100%;
}

/* Cart */

.cart {
  min-height: 80vh;
}

.cart__item {
  align-items: center;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0;
  width: 100%;
}

.cart__item-image-container {
  grid-column: 1 / span 5;
}
.cart__item-image {
  width: 100%;
}

.cart__item-description {
  grid-column: 1 / span 5;
}

.cart__item-remove {
  background-color: #B71C1C;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 0;
  width: 100px;
}
.cart__item-remove:hover {
  background-color: #D32F2F;
  cursor: pointer;
}

.cart__item-price {
  text-align: right;
  grid-column: 1 / span 5;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.cart-container {
  background-color: white;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px 20px 40px 20px;
  text-align: left;
}
.cart-container h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
.cart-container span {
  font-size: 1.2rem;
}

.cart__clear {
  background-color: #B71C1C;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 10px;
  width: 120px;
}
.cart__clear:hover {
  background-color: #D32F2F;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #524252;
}

.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}
.footer-container h2 {
  margin: 0 0 10px 0;
}
.footer-container a {
  color: white;
  text-decoration: none;
}
.footer-container li {
  margin-bottom: 5px;
}

.footer__section {
  padding: 20px;
  text-align: left;
}

@media only screen and (min-width: 500px) {

  .navigation-menu {
    display: block;
  }

  .hamburger-menu-icon {
    display: none;
  }

  /* Product List */

  .products__gallery {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Single Product */

  .product-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 20px;
  }

  .product__images-container {
    flex-grow: 1;
    width: 50vw;
  }
  
  .product__description-container {
    margin-left: 20px;
    padding: 20px;
    text-align: left;
  }
  .product__description-container span {
    display: inline;
    font-size: 1rem;
    margin: 0 10px 20px 0;
  }

  /* Cart */

  .cart-container h2 {
    font-size: 1.8em;
  }

  .cart__item {
    align-items: center;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 0;
    width: 100%;
  }
  
  .cart__item-image-container {
    grid-column: 1;
  }
  
  .cart__item-description {
    grid-column: 2;
    margin-left: 20px;
  }

  .cart__item-remove {
    grid-column: 3;
  }

  .cart__item-price {
    text-align: right;
    grid-column: 4;
  }

  /* About */

  .about__container {
    font-size: 1.5rem;
    position: relative;
    width: 90%;
  }
  .about__container h2 {
    font-size: 1.2em;
    left: 20px;
    top: -10px;
  }
  .about__container p {
    font-size: 0.7em;
    left: 20px;
    top: 40px;
  }

}

@media only screen and (min-width: 600px) {

  .header-container ul a {
    font-size: 1.25rem;
    padding: 10px 20px;
  }

}

@media only screen and (min-width: 700px) {

  /* About */

  .about__container {
    font-size: 2rem;
    position: relative;
    width: 90%;
  }
  .about__container h2 {
    font-size: 1.2em;
    left: 20px;
    top: -10px;
  }
  .about__container p {
    font-size: 0.7em;
    left: 40px;
    top: 60px;
  }
  
  /* Footer */

  .footer-container {
    background-color: #524252;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    justify-content: space-between;
  }
  .footer-container h2 {
    margin: 0 0 10px 0;
  }
  .footer-container a {
    color: white;
    text-decoration: none;
  }
  .footer-container li {
    margin-bottom: 10px;
  }
  
  .footer__section {
    padding: 20px;
    text-align: left;
  }

}

@media only screen and (min-width: 800px) {

  /* Footer */

  .footer-container {
    font-size: 1rem;
  }

}

@media only screen and (min-width: 1000px) {

  /* Product List */

  .products__gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  /* About */

  .about__container {
    font-size: 2rem;
    position: relative;
    width: 90%;
  }
  .about__container h2 {
    font-size: 1.5em;
    left: 20px;
    top: -10px;
  }
  .about__container p {
    font-size: 1em;
    left: 60px;
    top: 80px;
  }

}