@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

/* Base */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(#DDFFDD, white);
  background-repeat: no-repeat;
  font-family: 'Poppins';
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  align-items: flex-start;
  background-color:#665366;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header h1 {
  font-family: 'Dancing Script';
  font-size: 3rem;
  margin: 0;
}
header a {
  color: #FFE4E1;
  text-decoration: none;
}
header ul {
  display: flex;
}
header ul a {
  font-size: 1.25rem;
  padding: 10px 20px;
}
header ul a:hover {
  border-bottom: 1px solid white;
}

/* Product List */

.product-list__intro {
  font-size: 1.5rem;
  margin-left: 20px;
  text-align: left;
}

.product {
  padding: 20px;
}
.product h3 {
  margin: 0;
}
.product a {
  color: black;
  text-decoration: none;
}
.product p {
  margin: 0;
}

.product-thumbnail__image {
  width: 100%;
}

/* Product */

.product-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.product__image {
  width: 100%;
}

.product__images-container {
  width: 50vw;
}

.product__description-container {
  background-color: white;
  flex-grow: 1;
  margin-left: 20px;
  padding: 20px;
  text-align: left;
}
.product__description-container h2 {
  font-size: 2rem;
  margin: 0 0 20px 0;
}
.product__description-container p {
  font-size: 1.2rem;
  margin: 0 0 20px 0;
}
.product__description-container span {
  font-size: 1.2rem;
  margin: 0 10px 20px 0;
}

.product__decrement {
  background-color: #228B22;
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
  padding: 5px 10px;
}
.product__decrement:hover {
  background-color: #4EA24E;
  cursor: pointer;
}

.product__quantity {
  font-size: 1.2rem;
  height: 28px;
  padding-left: 5px;
  width: 60px;
}

.product__increment {
  background-color: #228B22;
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;
  padding: 5px 10px;
}
.product__increment:hover {
  background-color: #4EA24E;
  cursor: pointer;
}

.product__add {
  background-color: #228B22;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 1.5rem;
  margin: 40px 0;
  padding: 20px;
}
.product__add:hover {
  background-color: #4EA24E;
  cursor: pointer;
}

/* About */

.about-container {
  font-family: 'Dancing Script';
  font-size: 1.7rem;
  margin: 20px auto;
  position: relative;
  width: 90%;
}
.about-container h2 {
  position: absolute;
  left: 40px;
  top: 20px;
}
.about-container p {
  color: white;
  font-size: 2rem;
  left: 60px;
  position: absolute;
  top: 100px;
}

.about__heading--fragment-one {
  color: #D0F0C0;
}

.about__heading--fragment-two {
  color: #FFFFE0;
}

.about__heading--fragment-three {
  color: #ADD8E6;
}

.about__image {
  width: 100%;
}

/* Cart */

.cart {
  min-height: 80vh;
}

.cart__item {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.cart-container {
  background-color: white;
  margin: 20px;
  padding: 20px 20px 40px 20px;
  text-align: left;
  width: 50%;
}
.cart-container h2 {
  font-size: 2rem;
  margin: 0 0 10px 0;
}
.cart-container span {
  font-size: 1.2rem;
}

/* Footer */

footer {
  background-color: #524252;
  color: white;
  display: flex;
  justify-content: space-between;
}
footer h2 {
  margin: 0 0 10px 0;
}
footer a {
  color: white;
  text-decoration: none;
}
footer li {
  margin-bottom: 5px;
}

.footer__section {
  padding: 20px;
  text-align: left;
}